nav {
	width: 100%;
	background-color: white;
	height: 100px;
	position: fixed;
	top:0px;
	left: 0;
}


body {
	font-family: arial;
	background-image: url("../images/footer_lodyas white.png"); 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


img {
	max-height: 20%;
	max-width: 20%;
}

h1 {
	height: 100%;
	margin: 0px;
}

.name {
	background-color: #00b3b3;
	color: white;
	width: 25%;
	display: inline-block;
}

li {
	float: left;
	padding: 10px;
}

.tabs {
	display: inline-block;
	list-style-type: none;
	float: right;
}